<section>
    <h1><%=title%></h1>
    <table class="quizzes>">
      <% for (var i in quizzes) { %>
      <% var quiz = quizzes[i]; %>
        <tr>
          <div>
              <td><p><%=quiz.question%>: <%=quiz.answer%></p></td>
          </div>
        </tr>
      <% } %>
    </table>
</section>